{% extends 'base_admin.html.twig' %}
{% block row %}
    <div class="row">
        <div class="content col-sm-offset-1 col-sm-10">
        {% block content %}
        <h1> Welcome in administration panel </h1>
            <p>In top menu you have all posible actions.</p>
            <ol>
              <li>Static pages - You can change content of various static elements at your page.</li>
              <ul>
                <li> Jumbotron - Homepage</li>
              </ul>
            </ol>
      {% endblock %}
      </div>
    </div>
  {% endblock %}
  {% block content2 %}{% endblock %}

