{% extends 'base_admin.html.twig' %}
{% block row %}
    <div class="row">
        <div class="content col-sm-offset-1 col-sm-10">
        {% block content %}
        <h1> Welcome in administration panel </h1>
            <p>In top menu you have all posible actions.</p>
            <ol>
              <li>Pages - all editable pages and subpages</li>
              <li>Extras - You can change content of various static elements at your page.</li>
              <ul>
                <li> Jumbotron - Homepage Top floating element</li>
                <li> Panel with header (same as menu with links)</li>
                <li>Panel without header (used e.g. for adverts)</li>
              </ul>
            </ol>
      {% endblock %}
      </div>
    </div>
  {% endblock %}
  {% block content2 %}{% endblock %}

