.jumbotron {
    border: 4px double #fda;
}

.content {
    border: 4px double #fda;
}

.alert-danger {
    text-align: center;
    padding: 10px;
    border: 1px solid #944;
    border-radius: 10px;
    margin: 10px 0;
}

.extras-row {
    margin: 10px 0;
    border: 1px solid #fda;
    border-radius: 0 0 15px 15px;
}

h1, h2 {
    text-shadow: rgb(150, 150, 150) -2px -2px 3px;
    margin-bottom: 1em;
}

.extras-row > table th {
    width: 110px;
}

td:last-child {
    width: 180px;
}
tr:first-child {
    font-size: 18px;
    font-style: italic;
}
.alert > ul {
    list-style: none;
    text-align: left;
}

.page-active {
    background-color: #e91 !important;
    color: #fff !important;
    font-weight: bold;
}
