body {
    padding-top: 70px;
    opacity: 0.85;
    background: url('/img/papyrus.jpg');
    background-attachment: fixed;

}

.jumbotron {
    background-color: #ffe;
    border-radius: 25px;
}

h1, h2, .jumbotron > h3 {
    text-shadow: rgb(150, 150, 150) -2px -2px 3px;
}

.content {
    padding: 20px;
    border-radius: 15px;
    background-color: #ffe;
    text-align: justify;
    margin-bottom: 50px;
}

.panel-default {
    border-color: #fec;
}

.panel-default > .panel-heading {
    background-color: #ffe;
    border-color: #fda;
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
}

.footer {
    height: 30px;
    border-top: 1px solid #fda;
    background-color: #ffe;
}

.menu {
    list-style-type: none;
    padding: 0px;
}


.menu a {
    text-shadow: rgb(150, 150, 150) -1px -1px 2px;
    font-size: 15px;
    text-decoration: none;
    color: #333;
}
.menu li:before {
    content: '»    ';
    color: orange;
}

.menu a:hover {
    text-decoration: underline;
    color: orange;
}
